.project
.cproject
.settings
.autotools
.dirstamp

*.Plo
*.lai
.deps
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda

/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1

test/ecr_test
commit_sha.h
run_test
